services:
  nginx:
    image: nginx:stable-alpine3.20
    restart: unless-stopped
    depends_on:
      - backend
    ports:
      - "8000:80"
    volumes:
      - ./docker/nginx.development.conf:/etc/nginx/conf.d/default.conf
      - ./public:/var/www/html/public

  backend: &BASE
    image: tocaan
    build:
      dockerfile: ./docker/Dockerfile.development
      context: .
    restart: unless-stopped
    depends_on:
      - mysql
      - mysql-test
    volumes:
      - .:/var/www/html
      - ./public:/var/www/html/public
      - ./docker/xdebug.ini:/usr/local/etc/php/conf.d/docker-php-ext-xdebug.ini

  mysql:
    image: mysql:8.4.2
    restart: unless-stopped
    ports:
      - "3306:3306"
    volumes:
      - ./docker/volumes/mysql-data:/var/lib/mysql
    environment:
        MYSQL_ROOT_PASSWORD: "password"

  mysql-test:
    image: mysql:8.4.2
    restart: unless-stopped
    tmpfs: /var/lib/mysql
    env_file:
      - .env.testing
    ports:
      - "33061:3306"
    environment:
        MYSQL_ROOT_PASSWORD: "password"

  redis:
    image: redis:7.4.0-alpine
    restart: unless-stopped
    volumes:
      - ./docker/volumes/redis-data:/data
    ports:
      - "6379:6379"

  mailhog:
    image: mailhog/mailhog
    restart: unless-stopped
    ports:
      - "8025:8025"

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    restart: unless-stopped
    depends_on:
      - mysql
      - mysql-test
    environment:
      - PMA_HOSTS=mysql,mysql-test
      - UPLOAD_LIMIT=50M
    ports:
      - "8001:80"


volumes:
  mysql-data:
  redis-data:

networks:
  tocaan:
    driver: bridge
